/* Inizio nav-sx */
nav {
    float: left;
    /* Altrimenti sfora per via dell'height del main */
    height: calc(100% - 60px);
    width: 40px;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* Inizio nav-sx-top */
    #nav-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        #nav-top > div {
            height: 16px;
            width: 16px;
            margin-top: 7px;
            opacity: 0.8;
        }
        #nav-top .logo {
            background-image: url("../img/logo-small.svg");
            height: 20px;
            width: 20px;
            margin-top: 5px;
            opacity: unset;
        }
        .home {
            background-image: url("../img/home.svg");
        }
        .search {
            background-image: url("../img/search.svg");
        }
        .library {
            background-image: url("../img/libreria.svg");
        }

    /* Inizio nav-sx-bottom */
    #nav-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5px;
    }
        .download {
            background-image: url("../img/download.svg");
            height: 10px;
            width: 10px;
        }
        .user {
            background-image: url("../img/profile.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: #808080;
            border-radius: 50%;
            margin-top: 7px;
            height: 16px;
            width: 16px;
        }
        
/* Inizio layout small */
@media screen and (min-width: 358px) {

}