/* Inizio nav-sx */
nav {
    float: left;
    /* Altrimenti sfora per via dell'height del main */
    height: calc(100% - 60px);
    width: 40px;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* Inizio nav-sx-top */
    #nav-top {
        display: flex;
        flex-direction: column;
    }
        #nav-top > div {
            height: 16px;
            width: 100%;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 5px;
            opacity: 0.8;
        }
        #nav-top .logo {
            background-image: url("../img/logo-small.svg");
            background-size: 20px 20px;
            height: 20px;
            margin-top: 5px;
            opacity: unset;
        }
        .home {
            background-image: url("../img/home.svg");
        }
        .search {
            background-image: url("../img/search.svg");
        }
        .library {
            background-image: url("../img/libreria.svg");
        }

    /* Inizio nav-sx-bottom */
    #nav-bottom {
        width: 100%;
        margin-bottom: 5px;
    }
        #download-c {
            display: flex;
            justify-content: center;
        }
            .download {
                background-image: url("../img/download.svg");
                background-position: center;
                background-size: 10px 10px;
                height: 14px;
                width: 14px;
                background-repeat: no-repeat;
            }
            #download-c span {
                display: none;
                font-size: 7px;
                color: rgba(255, 255, 255, 0.8);
            }
        #user-c {
            margin-top: 7px;
            display: flex;
            justify-content: center;
        }
            #user-c span {
                display: none;
                color: white;
                font-size: 9px;
                font-weight: bold;
                margin-left: 5px;
            }
        .user {
            background-image: url("../img/profile.svg");
            background-color: #808080;
            background-size: 20px;
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }
        
/* Inizio layout small */
@media screen and (min-width: 358px) {
    #nav-top {
        align-items: flex-start;
    }
    #nav-bottom {
        align-items: flex-start;
    }    
        #nav-top .logo {
            background-image: url("../img/logo.svg");
            background-repeat: no-repeat;
            background-size: 85px 50px;
            background-position: left;
            margin-left: 10px;
            margin-top: unset;
            height: 50px;
            width: 100%;
            opacity: unset;
        }
        #nav-top > div {
            background-position: 10px;
            height: 20px;
        }
        #nav-top div.home {
            border-left: 2px solid #adff2f;
            background-position: 8px;
            margin-top: unset;
        }
        #nav-bottom {
            width: 100%;
            margin-bottom: 5px;
        }
        #download-c {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            margin-bottom: 2px;
        }
            .download {
                background-image: url("../img/download.svg");
                background-position: unset;
                background-size: 10px 10px;
                height: 14px;
                margin-left: 10px;
            }
            #download-c span {
                display: unset;
            }
            #user-c {
                width: calc(100% - 20px);
                margin-top: unset;
                margin-left: 10px;
                padding-top: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-top: 1px solid #717171;
            }
                #user-c span {
                    display: inline;
                }
}