/* File ".css" importati */
@import "nav.css";
@import "top-right-c.css";
@import "footer.css";

/* Proprietà generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix {
    display: table;
    clear: both;
    content: "";
}

#big-c {
    height: 100vh;
    width: 100%;
}
    #top-c {
        width: 100%;
    }

    
/* Layout per diversi dispositivi */
@media screen and (min-width: 358px) {
    nav {
        width: 130px;
        height: calc(100% - 70px);
    }
    #top-right-c {
        width: calc(100% - 130px);
    }
        header {
            height: 70px;
        }
        main {
            padding: 70px 0;
        }
    footer {
        height: 70px;
    }
}

@media screen and (min-width: 493px) {
    nav {
        width: 120px;
        height: calc(100% - 80px);
    }
    #top-right-c {
        width: calc(100% - 120px);
    }
        header {
            height: 80px;
        }
        main {
            padding: 80px 0;
        }
    footer {
        height: 80px;
    }
}

@media screen and (min-width: 805px) {
    nav {
        width: 150px;
        height: calc(100% - 70px);
    }
    #top-right-c {
        width: calc(100% - 150px);
    }
        header {
            height: 70px;
        }
        main {
            padding: 70px 0;
        }
    footer {
        height: 70px;
    }
}