* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
}

header {
    height: 50px;
    width: 100%;
    background-color: #080b12;
}

aside {
    height: calc(100vh - 50px);
    width: 25px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    background-color: #141922;
    color: white;
    width: 100%;
    padding-left: 25px
}

footer {
    height: 50px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 1;
    bottom: 0;
}