* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#big-c {
    height: 100vh;
    width: 100%;
}

    #top-c {
        height: calc(100% - 60px);
        width: 100%;
    }
        nav {
            float: left;
            height: 100%;
            width: 40px;
            background-color: black;
            position: fixed;
        }
        #top-right-c {
            width: calc(100% - 40px);
            height: 100%;
            float: right;
        }
            header {
                height: 60px;
                width: 100%;
                background-color: #080b12;
                position: fixed;
            }
            main {
                width: 100%;
                background-color: #141922;
                color: white;
                padding: 60px 0;
            }

    footer {
        height: 60px;
        width: 100%;
        background-color: #282828;
        position: fixed;
        z-index: 2;
    }