#top-right-c {
    width: calc(100% - 40px);
    height: 100%;
    float: right;
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
    header {
        height: 60px;
        width: 100%;
        text-align: right;
        background-color: rgba(8, 11, 18, 0.4);
        position: fixed;
        z-index: 2;
    }

    #top-right-c p {
        margin-top: 60px;
    }