/* Inizio top-right-container */
#top-right-c {
    width: calc(100% - 40px);
    height: calc(100vh - 55px);
    float: right;
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
    /* Inizio header */
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        width: calc(100% - 40px);
        background-color: rgba(8, 11, 18, 0.4);
        position: fixed;
        z-index: 2;
    }
        header span {
            text-transform: uppercase;
            font-size: 8px;
            padding: 7px 25px;
            border: 1px solid white;
            border-radius: 20px;
        }

    /* Inizio main */
    main {
        margin-top: 60px;
    }
        main #nav-main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #7b7e82;
            text-transform: uppercase;
            font-size: 8px;
        }
            #nav-main span {
                margin: 9px 6px;
            }

        .container-main {
            width: calc(100% - 30px);
            margin: 10px 15px 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .another {
            margin-top: 15px;
        }
            .container-main > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 125px;
                margin-bottom: 5px;
            }
            .container-main > div:nth-of-type(odd) {
                margin-right: 10px;
            }
                .container-main > div > img {
                    width: 125px;
                    height: 125px;
                }
                .container-main > div > h4 {
                    font-size: 8px;
                    margin: 7px;
                    text-align: center;
                }
                .container-main > div > span {
                    font-size: 7px;
                    opacity: 0.6;
                    text-align: center;
                }

            .ascolta {
                font-size: 7px;
                opacity: 0.6;
            }
            .cap {
                display: flex;
                flex-direction: column;
                margin-left: 12px;
                font-size: 12px;
                margin-left: 12px;
                margin-top: 20px;
            }
                .cap h2 {
                    margin-bottom: 5px;
                }
            
            .artist img {
                border-radius: 50%;
            }

@media screen and (min-width: 358px) {
    header {
        width: calc(100% - 130px);
    }
}